#register-container {
  display: flex;
  align-items: center;
}

#big-logo {
  width: 50vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

#register-page {
  padding-top: 96px;
  width: 45vw;
  height: 90vh;
}

#register-page h1 {
  color: white;
  font-size: 72px;
}
#register-page h2 {
  color: white;
  font-size: 32px;
}

#button-register {
  margin-top: 48px;
}

.or-wrapper {
  margin: 16px 0;
  display: flex;
  align-items: center;
}

#or-font h6 {
  font-size: 20p;
  color: white;
}

.line {
  width: 160px;
  height: 1px;
  border-bottom: 0.5px solid white;
  margin: 0 4px;
}

.cookie {
  margin-top: 16px;
  width: 400px;
}

.cookie p {
  color: white;
  font-size: 12px;
}

.cookie a {
  color: cyan;
  text-decoration: none;
  transition: color 0.3s;
}

.cookie a:hover {
  color: blue; /* Change the color to your desired hover color */
}
